1. Use Python built-in functions to:

 a. find the sum of the elements in the list [2.5,-7, 4, 3.3, 9,-6.4].

In [4]:
total = sum([2.5, -7, 4, 3.3, 9, -6.4])
print(total) == sum

5.4

False

b. find the maximum of the elements for the list in (a).

In [1]:
myList = [2.5, -7, 4, 3.3, 9, -6.4]
maximum = max(myList)
print(maximum)

9

(c) find the minimum of the elements for the list in (a)

In [25]:
myList = ([2.5, -7, 4, 3.3, 9, -6.4])
minimum = min(myList)
print(minimum)

-7

(d) sort a the list in (a) in descending order.

In [26]:
descending_list = sorted(myList, reverse=True)
print(descending_list)

[9, 4, 3.3, 2.5, -6.4, -7]

(e) find the quotient and the remainder of 47 divided by 13.

In [5]:
quotient, remainder

(3, 8)

(f) evaluate the expression '1 + 2 == 3'.

In [8]:
print(1 + 2==3)

True

g) check if any numbers in a given list are non-zero.

In [7]:
numbers = [9, 4, 3.3, 2.5, -6.4, -7]
if  any(numbers):
   print("all number except zero")

all number except zero

(h) check if all numbers in a given list are non-zero.

2. Write a Python function

(a) that computes and returns the volume of a cone. The inputs are the radius and the height of the
cone.

In [8]:
r= float(input("Radius:"))
h= float(input("Height:"))
Volume=(3.14156 * r * r * h) / 3
print("Volume of cone is", Volume)

Radius: 30
Height: 40

Volume of cone is 37698.72000000001

 b) that calculates and returns the hypotenuse of a right triangle. The inputs are the base and the
height of the triangle.

In [9]:
#Phython program to calculate the hypotenuse of a right angled triangle.
from math import sqrt
print('Enter the lenghts of two shorter sides :')
a=float(input('Side a is : '))
b=float(input('Side b is : '))

h=sqrt(a**2 + b**2)
print('The hypotenuse side is ', h)

Enter the lenghts of two shorter sides :

Side a is :  2
Side b is :  2

The hypotenuse side is  2.8284271247461903

(c) that calculates and returns the square and cube of a given input number.

In [11]:
n=eval(input("enter number= "))
square=n*n
cube=n*n*n
print("square of given no is", square)
print("cube of given no is", cube)

enter number=  2

square of given no is 4
cube of given no is 8

(d) named celcius that converts a given temperature from Fahrenheit to Celsius. The input is the
temperature in Celsius and the return value is the temperature in Fahrenheit. The conversion
formula is

Celsius = (5 / 9) * (Fahrenheit −32)


where C and F are the temperatures in Celsius and Fahrenheit respectively.

In [4]:
Celsius = float(input("Temperature (C): "))
Fahrenheit = (Celsius * 9/5) + 32
print("Temperature (F):", Fahrenheit)
value = 0.56

Temperature (C):  0.56

Temperature (F): 33.008

(e) that computes and returns the surface area and the volume of a closed cylinder. The inputs are
the radius and the height of the cylinder. Set the default value of the radius and height to be 1.0.

In [20]:
import math

radius = float(input())
height = float(input())

volume = math.pi * pow(radius, 2) * height
surfaceArea = (2 * math.pi * radius * height) + (2 * math.pi * pow(radius, 2))

print("Volume:", format(volume))

 1.0
 1.0

Volume: 3.141592653589793

(f) that checks if the elements of a list is unique. The input is a list of numbers, and the function
returns True if the elements are unique and returns False otherwise (Hint: use the set function to
remove duplicates from a list, and check the length of the list before and after element removal)

In [2]:
 def check_unique(numbers):
    for index, item in enumerate(numbers):
        if item in numbers[index+1:]:
            return False
    return True

        
length = int(input("Enter List Length: "))
my_list = []
for _ in range(length):
    temp = int(input("Enter List Element: "))
    my_list.append(temp)

flag = check_unique(my_list)
if flag:
    print("List elements are unique")
else:
    print("List elements are not unique")

Enter List Length:  5
Enter List Element:  10
Enter List Element:  20
Enter List Element:  30
Enter List Element:  40
Enter List Element:  50

List elements are unique

(g) that receives a name and age as inputs and prints

In [4]:
def print_info(name, age):
    print(f"Hi, my name is{Aiman}") 
    print(f"I am {21} years old")

(h) that receives a dictionary as an input and prints the key-value pair of the dictionary in a tabular
format.

In [5]:
def print_dict_table(data_dict):
    print("Key\t\tValue")
    print("-" * 20)

    for key, value in data_dict.items():
        print(f"{key}\t\t{value}")

3. Use
   
(a) a loop

(b) the map function

on the function written in Q2(d) to convert the following temperatures
125.70F, 275.40F, 300.00F, 37.480F, 0.00F, −180.450F to Celsius and print the results in tabular form.

In [11]:
def celsius(f):
    return (f - 32) * 5/9


temps_f = [32, 68, 86, 104, 212]


results = list(map(celsius, temps_f))

print("Results using map():")
print("Fahrenheit\tCelsius")
print("-" * 25)

for f, c in zip(temps_f, results):
    print(f"{f}\t\t{c:.2f}")

Results using map():
Fahrenheit	Celsius
-------------------------
32		0.00
68		20.00
86		30.00
104		40.00
212		100.00

4. Create a Python function that calculates and returns the total surface area and the volume of a

(a) rectangular box. The inputs are the length, width and the height of the box.

In [14]:
def box_calculations(length, width, height):
    surface_area = 2 * (length * width + length * height * width * height)
    volume = length * width * height

    return {
        "Surface Area": surface_area,
        "Volume": volume
    }

print(box_calculations(5, 3, 2))

{'Surface Area': 150, 'Volume': 30}

(b) closed cone. The inputs are the radius and the height of the cone.

In [16]:
import math

def cone_calculations(radius, height):
    slant_height = math.sqrt(radius**2 + height**2)
    surface_area = math.pi * radius**2 + math.pi * radius * slant_height
    volume = (1/3) * math.pi * radius**2 * height

    return {
        "Surface Area": surface_area,
        "Volume": volume
    }

print(cone_calculations(3,4))

{'Surface Area': 75.39822368615503, 'Volume': 37.69911184307752}

6. Write a function that calculates the distance between the pair of coordinates (x1,y1) and (x2,y2). Here
x1,y1,x2 and y2 will be the inputs and if the function is called without the values of x2 and y2 passed,
they should be set to 0 by default. Make sure the following function calls are valid.

(a) distance(x1 = 1, y1 = 2)

In [17]:
import math

def distance(x1, y1, x2=0, y2=0):
    dist = math.sqrt((x2 - x1)**2 +(y2 - y1)**2)
    return dist

result = distance(x1=1, y1=2)
print(f"The distance is: {result}")

The distance is: 2.23606797749979

(b) distance(1, 2, x2 = 4, y2 = 2)

In [18]:
import math

def distance(x1, y1, x2=0, y2=0):
    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

result = distance(1, 2, x2=4, y2=2)
print(result)

3.0

7. (a) Create a function that returns the average of a list of numbers.

In [28]:
import math

def calculate_average(numbers):
    
    return sum(numbers) / len(numbers) if numbers else 0

In [26]:
import math  

def calculate_average(numbers):
    
    return sum(numbers) / len(numbers) if numbers else 0

def calculate_std_dev(numbers):  
    if not numbers:
        return 0

    mu = calculate_average(numbers)

    squared_diffs = [(x - mu)**2 for x in numbers]

    variance = calculate_average(squared_diffs)

    return math.sqrt(variance)

data = [10, 12, 23, 23, 16, 23, 21, 16]

print(f"Average: {calculate_average(data)}")
print(f"Standard Deviation: {calculate_std_dev(data):.2f}")

Average: 18.0
Standard Deviation: 4.90

8. Suppose that the header of the function f is
def f(a, b, c = 0, d = 0):
Explain why each of the following calls to f is illegal

(a) f(a = 1)

b is required in this cells but in this calls there are no (b).


(b) f(1,2,3,4,5)

The function accepts only 4 arguments but this calls provide 5 arguments


(c) f(b = 1, 2)

Positional arguments cannot come after keyword arguments (2 come after b=1)


(d) f(b = 1, c = 2)

Required argument is missing (a).


(e) f(1, b = 1, 2)

Mixing argument types in the wrong order.

9. Create the list of integers with the following pattern


[1, 4, 2, 4, 2, 4, ... , 2, 4, 1]


by returning it from a function. Note that the list starts and ends with 1, has odd-index elements
equal to 4 and even-indexed elements equal to 2. The function receives the length of the list as the
input. The length must by an odd number, if it is even, return an empty list.

In [4]:
def create_list(n):  
    if n % 2 == 0:
        return []
    
    result = []
    for i in range(n):
        if i == 0 or i == n - 1:
            result.append(1)
        elif i % 2 == 0:
            result.append(2)
        else:
            result.append(4)
   
    return result

In [6]:
create_list(7)

[1, 4, 2, 4, 2, 4, 1]

end of exercise 5